body{
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;
}
.title{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}
.move-button{
  height: 120px;
  width: 120px;
  border-radius: 60px;
  border: solid white;
  background-color: rgb(25, 25, 25);
  padding: 1px 6px;
  margin-right: 10px;
  cursor: pointer;
}
.move-button img,.computer-move,.my-move{
  height: 50px;
}
.result-div{
  color: white;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
}
.totalScore{
  color: white;
  margin-top: 60px;
  margin-bottom: 16px;
}

.auto-play-button,
.reset-score-button{
  padding: 8px 15px;
  font-size: 15px;
  color: black;
  border: none;
  cursor: pointer;
}



