body{
  font-family: Arial;
}

.input-01{
  margin-bottom: 35px;
}

.input-03,
.todo-list-container-03{
  display: grid;
  grid-template-columns:200px 150px 100px;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  height: 50px;
}
.input-03{
  margin-bottom: 10px;
}
.name-input,
.date-input,
.add-button-03{
  height: 50px;
}
.todo-list-container-03 button{
  background-color: red;
  color: white;
  height: 50px;
  font-weight: 500;
}